.company-preview
	padding 15px
	cursor pointer
	display flex
	align-items flex-start
	
	&:hover
		background-color #faf7e9
		
		span
			color $linkred
		svg
			fill $linkred
		
	&_more
		color $blue
		font-size 12px
		cursor pointer
		align-self flex-start
		display flex
		align-items center
		
		svg
			width 16px
			height 26px
			display inline-block
			vertical-align middle
			fill $blue
			margin-left 10px
	
	&-list
		margin 20px 0 0 0
		padding 0 35px
		line-height 120%
		
	&_logo
		background-position center
		background-repeat no-repeat
		background-size contain
		min-width 100px
		min-height 100px
		border 1px solid $grey
		border-radius 2px
		margin-right 20px
			
	&_info
		min-height 100px
		
		h3, h5
			margin 0
		
		h3
			font-weight 400
			font-size 17px
			
		h5:first-of-type
			margin 10px 0
			font-size 12px
			font-weight 300
			
		h5:last-of-type
			color $dark
			font-weight 300
			font-size 12px
			letter-spacing 0.06em
		
	&_address
		font-size 12px
		padding 8px
		background-color $grey
		margin-right 5px
		margin-bottom 5px
		color $color
		border-radius 2px
			
.company-popup
	
	.company-preview
		
		&_logo
			min-width 180px
			min-height 180px
		h3 
			font-size 26px
			
		h4
			margin 15px 0 5px
			
