.wide-image
	background url(../img/background.jpg) center -164px no-repeat
	height 615px
	width 100%
	position absolute
	
.row-image
	border-image url(../img/arrow.png) 3 22
	padding 0 20px
	font-size 14px
	height 30px
	border-right-width 30px
	display flex
	align-items center
	
	span
		padding-left 20px