.catalog
	position relative
	overflow hidden
	
	.container
		position relative
		margin-top 25px
		cf()
		display flex

	&_left
		margin-right 10px
		width 260px
		
	&_type
		@extends $header
		
		img
			margin-right 5px
			vertical-align middle
		
	&_middle
		margin-right 10px
		width 598px
		background-color white
		block-border()

	&_right
		width 260px
		border-radius 2px	
		
.make
	
	&-title
		display inline-block
		vertical-align middle
		margin 0
		
	&-info
		margin-left 35px
		
		img
			display inline-block
			vertical-align middle	
		
	&-description
		margin-top 10px
		


.model-description
	margin-left 35px
	margin-top 10px
	