.home
	overflow hidden

	.container
		position relative
		margin-top 25px
		display flex
		padding 10px
		
	&_left
		margin-right 10px
		width 260px
				
	&_middle
		block-border()
		margin-right 10px
		width 598px
		border-radius 2px
		position relative
		background url(../img/zapchast.jpg) center top no-repeat #fff
		background-size 100%
		padding-top 30px

		&>h3
			text-align center
			line-height 250%
			margin-top 0
			
			span
				background-color rgba(255, 255, 255)
				padding 3px 10px
				font-size 120%
				color #262626
			
	&_right
		width 260px