.home
	overflow hidden

	.container
		position relative
		margin-top 25px
		display flex
		padding 10px
		
	&_left
		margin-right 10px
		width 260px
				
	&_middle
		block-border()
		margin-right 10px
		width 598px
		border-radius 2px
		position relative
		//background url(../img/zapchast.jpg) center top no-repeat #fff
		background-color #FFF
		background-size 100%
		padding-top 30px

		&>h1
			text-align center
			
		 &-info
			margin 0 35px
			line-height 200%
			
			
	&_right
		width 260px